* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
  width: 100%;
  height: 60px;
  background: #fff;
  position: fixed;
  z-index: 1000;
}

header{
  height: 125%;
  width: 100%;
  background: radial-gradient(ellipse at top, rgba(47,37,88,1) 40%, rgba(10,30,57,1) 100%) ;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-box{
  top:0px;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

section, #sonderfall{
  width: 100%;
  position: relative;
  padding: 100px 40px;
  box-sizing: border-box;
}

#sonderfall{
  margin-top: 50px;
  padding-bottom: 0px;
}

content{
  display: flex;
  align-items: flex-start;
}

.text:nth-child(odd){
  margin-right: 150px;
  margin-left: 100px;
  margin-top: 0px;
}

.text:nth-child(even){
  margin-left: 150px;
  margin-right: 100px;
  margin-top: 0px;
}

.text h2, h1{
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

h2{
  font-size: 27px;
}

h1{
  font-size: 40px;
  line-height: 50px;
  margin-top: 50px;
}

.text p{
  color: #828181;
  line-height: 24px;
  font-weight: 300;
}

section:nth-child(even){
  background: #efefef;
}

.full-height{
  /* height: 130%; */
  padding: 0px;
  background: none !important;
}

#stars{
  background: transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  height: 125%;
  width: 100%;
  position: absolute;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 #logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   z-index: 10;
 }

 #video{
   margin-top: -10%;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   background: #fff;
   width: 800px;
   height: 450px;
   box-shadow: 0px 0px 12px 0px #52525242;
   position: relative;
 }

 #video iframe{
   width: 100%;
   height: 100%;
 }

 #call-to-action{
   background: radial-gradient(ellipse at top, rgba(47,37,88,1) 40%, rgba(10,30,57,1) 100%) ;
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

  #call-to-action .btn {
    font-size: 35px;
    padding: 20px 50px;
    background: #37fdf8;
    text-decoration: none;
    color: #1e224b;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px #fffefea3;
  }

  #call-to-action #stars{
    height: 100%;
  }

/* #myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */

/* .background, .stars {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

.background {
    min-height: 1000px;
    background: radial-gradient(ellipse at top, rgba(47,37,88,1) 40%, rgba(10,30,57,1) 100%) ;
    z-index:0;
}

.stars {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:1;
 } */

/*
#top {
    position: relative;

    width: 100%;
    height: 350px;

    background-color: clear;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;

} */

/* #center {
    display: block;

    width: 100%;
} */

/* #video {
    width: 800px;
    height: 450px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    filter: drop-shadow(0px 0px 10px #000000);
} */

.iPhone{
  width: 40%;
}

footer {
  width: 100%;
  padding: 10px 10px;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
}

#from {
    color: #fff;
}

.heart {
  padding: 0 5px;
}

.name {
    color: #fff;
    text-decoration: none
}

@media (max-width: 1050px) {
  content{
    flex-direction: column;
    align-items: center;
  }
  .second{
    flex-direction: column-reverse;
  }
  .iPhone{
    margin-top: 30px;
    width: 376px;
  }
  section{
    padding: 70px 40px;
  }
  .text:nth-child(even), .text:nth-child(odd){
    margin: 0px;
    width: 630px;
  }
  #video{
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 700px) {
  .text:nth-child(even), .text:nth-child(odd){
    margin: 0px;
    width: 100%;
  }
  #logo{
    width: 100%;
  }
  #call-to-action .btn {
    font-size: 25px;
  }
}
